* {
  margin: 0;
  padding: 0;
}

section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

section.visible {
  opacity: 1;
  transform: translateY(0);
  padding: 5%;
}

section video{
  position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index:-100;
    filter: blur(10px);
}

section h1{
  font-size: 40px;
  text-align: center;
}

.first{
  background: linear-gradient(white,#6fb26f);
}

.second{
  background: linear-gradient(#6fb26f,#3e8c3e);
}

.third{
  background: linear-gradient(#3e8c3e,#2d5a2d);
}

.fourth{
  background: linear-gradient(#2d5a2d,#1a4a1a);
  color: rgb(173, 201, 167);
}